<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h4>User Summary: <%= @user.username %></h4>
<h4>Joined Site <%= time_tag(@user.created_at.to_date) %></h4>

<p><%= link_to "Add a new product to sell", new_user_product_path(@user.id), class: "btn btn-info" %></p>

<h4>Product Table Would Go here: </h4>

<table class="table">
  <thead>
  <h4> My Products </h4>
    <tr>
      <th>Item</th>
      <th>Inventory </th>
      <th>Price</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <%#= @user %>
    <%# <% raise %>
    <% @user.products.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.inventory %></td>
        <td><%= item.price %></td>
        <td><%= link_to "Edit", edit_user_product_path(@user.id, item.id) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>




<%= @user.username %>


<%= @user.findorder %>
