<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h4>User Summary: <%= @user.username %></h4>
<h4>Joined Site <%= time_tag(@user.created_at.to_date) %></h4>

<p><%= link_to "Add a new product to sell", new_user_product_path(@user.id), class: "btn btn-info" %></p>

<table class="table">
  <thead>
  <h4> My Products </h4>
    <tr>
      <th>Item</th>
      <th>Inventory </th>
      <th>Price</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <%#= @user %>
    <%# <% raise %>
    <% @user.products.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.inventory %></td>
        <td><%= item.price %></td>
        <td><%= link_to "Edit", edit_user_product_path(@user.id, item.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>





<table class="table">
  <thead>
  <h4> My Orders </h4>
    <tr>
      <th>Order Number</th>
      <th>Status </th>
      <th>Time Placed</th>
  
    </tr>
  </thead>
  <tbody>
    <% @user.findorder.each do |order| %>
      <tr>
        <td><%= link_to order.id, order_path(order.id) %></td>
        <td><%= order.status %></td>
        <td><%= order.time_placed %></td>
        <td><% order.order_items.each do |item| %>
          <% if item.product.user.id == @user.id %>
          <%= link_to item.product.name, product_path(item.product_id) %>
          <% end %>
        <% end %>
        <td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Total Revenue: <%= number_to_currency(@user.totalrev/100.0, :unit => "$") %></h4>

<p>pending orders:  <%= @user.ordercount["pending"] %></p>
<p>pending revenue: <%= number_to_currency(@user.totalrevstatus["pending"]/100.0, :unit => "$")%></p>

<p>paid orders: <%= @user.ordercount["paid"] %></p>
<p>paid revenue: <%= number_to_currency(@user.totalrevstatus["paid"]/100.0, :unit => "$")%></p>

<p>complete orders: <%= @user.ordercount["complete"] %></p>
<p>complete revenue: <%= number_to_currency(@user.totalrevstatus["complete"]/100.0, :unit => "$")%></p>

<p>cancelled orders: <%= @user.ordercount["cancelled"] %></p>
<p>cancelled revenue: <%= number_to_currency(@user.totalrevstatus["cancelled"]/100.0, :unit => "$")%></p>