<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h4>User Summary: <%= @user.username %></h4>
<h4>Joined Site <%= time_tag(@user.created_at.to_date) %></h4>

<p><%= link_to "Add a new product to sell", new_user_product_path(@user.id), class: "btn btn-info" %></p>

<table class="table">
  <thead>
  <h4> My Products </h4>
    <tr>
      <th>Item</th>
      <th>Inventory </th>
      <th>Price</th>
  
    </tr>
  </thead>
  <tbody>
    <%#= @user %>
    <%# <% raise %>
    <% @user.products.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.inventory %></td>
        <td><%= item.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>





<table class="table">
  <thead>
  <h4> My Orders </h4>
    <tr>
      <th>Order Number</th>
      <th>Status </th>
      <th>Time Placed</th>
  
    </tr>
  </thead>
  <tbody>
    <% @user.findorder.each do |item| %>
      <tr>
        <td><%= link_to item.id, order_path(item.id) %></td>
        <td><%= item.status %></td>
        <td><%= item.time_placed %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Total Revenue: <%= number_to_currency(@user.totalrev/100.0, :unit => "$") %></h4>

<%= @user.totalrevstatus%>