<main class="form-page">
    <header>
        <h1>Edit item in your shop</h1>
    </header>
    
    <section>
        <%# render partial: "form", locals: {
            form_class: "edit-product",
            url: user_product_path, 
            action_name: "Update Product"
        } %>
        <%= form_with model: @product, url: user_product_path, class: "product_form" do |f| %>
            <div>
                <%= f.label :name %>
                <%= f.text_field :name %>
            </div>

            <div>
                <%= f.label :price %>
                <%= f.text_field :price %>
            </div>

            <div>
                <%= f.label :inventory %>
                <%= f.text_field :inventory %>
            </div>

            <div>
                <%= f.label :description %>
                <%= f.text_field :description %>
            </div>

            <div>
                <%= f.label :category %>
                <%# f.select :category, Category.all.map {|category| [category.name] } %>
                <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name)%>
            </div>

            <div>
                <%= f.label :photo_url %>
                <%= f.text_field :photo_url %>
                <%# f.text_field :photo_url, :selected => "http://gianfreda.net/wp-content/uploads/2017/01/disney-printable-coloring-pages-img-213749.jpg" %>
            </div>

            <div>
                <%= f.submit "Update Product", class: "product_form", method: :patch %>
            </div>
        <% end %>
    </section>
</main>
