
<main class="product-container">
    <header>
        <h1>Browse Toonsy Products</h1>
    </header>

    <nav class="product-categories">
        <h3>Categories</h3>
        <% Category.all.each do |category| %>
        <p><%= link_to category.name, category_path(category.id) %></p>
        <% end %>
    </nav>

    <section class="products">
        <% @products.each do |product| %>
            <%= link_to product_path(product.id) do %>
                <article class="product-item">
                    <img class="product-page-image" src= <%= product.photo_url %> alt="Image of <%= product.name %>">
                    <p><%= product.name %></p>
                    <p><%= number_to_currency(product.price.to_i/100.0, :unit => "$")%></p>
                    <p>Categories: <% product.categories.each do |category| %>
                        <%= link_to category.name, category_path(category.id) %>
                    <% end %></p>
                    <p>inventory: <%= product.inventory %></p>
                    <small class="text-muted">Added to site <%= time_tag(product.created_at.to_date)%></small>
                </article>
            <% end %>
        <% end %>
    </section>
</main>
