<main class="form-page">
    <header>
        <h1>Add a new product to your shop</h1>
    </header>
    
    <section>
 
        <%= form_with model: @product, url: user_products_path, class: "product_form" do |f| %>
            <div>
                <%= f.label :name %>
                <%= f.text_field :name %>
            </div>

            <div>
                <%= f.label :price %>
                <%= f.text_field :price %>
            </div>

            <div>
                <%= f.label :inventory %>
                <%= f.text_field :inventory %>
            </div>

            <div>
                <%= f.label :description %>
                <%= f.text_field :description %>
            </div>

            <div>
                <%= f.label :category %>
                <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name)%>
            </div>

            <div>
                <%= f.label :photo_url %>
                <%= f.text_field :photo_url, :value => 'https://i.ya-webdesign.com/images/pencils-drawing-teddy-bear-6.png' %>
            </div>

            <div>
                <%= f.submit "Add Product", class: "product_form", method: :post %>
            </div>
        <% end %>
    </section>
</main>