<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>


<p>merchant: <%= @product.name %></p>
<p>price: <%= @product.price %></p>
<p>inventory: <%= @product.inventory %></p>
<img src= <%= @product.photo_url %> >  
<p><% @product.categories.each do |category| %>
    <%= link_to category.name, category_path(category.id) %>
<% end %></p>
<%# image_tag (@product.photo_url) %>

<%= link_to "Add to Cart", add_item_path, method: :post %>